//@import url('fonts/HND.css');
//@import url('fonts/HNT.css');

// you can change colors here
$theme-color: #096dd9;
//$theme-color: #120a8f;
$font-family: '"Helvetica Now Text", "Noto Sans SC", sans-serif';
$font-family-heading: '"Helvetica Now Display", "Noto Sans SC", sans-serif';